extends ../layouts/index.pug
//- include thanh phân trang
include ../mixins/pagination.pug 
//- block styles 
//-   link(rel='stylesheet', href='/assets/css/admin/permission.css')
include ../partials/sidebar
include ../partials/header

block content 
  .container.mt-5
    .card.shadow.p-4
      h2.mb-4(style="margin-top: 15px;")= data.title||"Danh Sách Tài Khoản"
      .table-responsive
        table.table.table-bordered.table-hover.text-center.align-middle
          thead.table-light
            tr
              th Tên Đăng Nhập
              th Email
              th Vai Trò
              th Thông Tin Cá Nhân
              th Trạng Thái
              th Thao Tác
          tbody
            if data.accounts && data.accounts.length > 0
              for account in data.accounts
                tr
                  td= account.username || ""
                  td= account.email || ""
                  td= account.role_id.role_name || ""
                  td 
                    a(href="") xem chi tiết
                  td
                    span.badge.bg-success= account.status===true ? "Hoạt Động" : "Không Hoạt Động" || ""
                  td
                    a(href=`update-account/${account._id}`, style="margin-right: 5px;").btn.btn-sm.btn-primary Sửa
                    a(href=`admin/account/delete-account/${account._id}`, class="delete").btn.btn-sm.btn-danger Xóa
              //  Thêm các dòng phim khác tại đây 
      //- Thanh phân trang
      +pagination(data)
block scripts
  script(type="module", src="/js/shared/pagination.js")
  script(type="module", src="/js/admin/script.js") 

