extends ../layouts/index.pug
//- include thanh phân trang
include ../mixins/pagination.pug 
//- block styles 
//-   link(rel='stylesheet', href='/assets/css/admin/permission.css')
include ../partials/sidebar
include ../partials/header

block content 
  .container.mt-5
    .card.shadow.p-4
      h2.mb-4(style="margin-top: 15px;")= data.title||"Danh Sách Diễn Viên"
      .table-responsive
        table.table.table-bordered.table-hover.text-center.align-middle
          thead.table-light
            tr
              th Ảnh
              th Tên Diễn Viên
              th Ngày Sinh
              th Giới Tính
              th Quốc Gia
              th Thao Tác
          tbody
            if data.actors && data.actors.length > 0
              for actor in data.actors
                tr
                  td
                    img.img-thumbnail(src=actor.actor_image||"", style="width: 80px;", alt="Poster")
                  td= actor.actor_name || ""
                  td= actor.birthDate || ""
                  td=actor.gender||""
                  td= actor.nationality || ""
                  td
                    a(href=`update-actor/${actor._id}`, style="margin-right: 5px;").btn.btn-sm.btn-primary Sửa
                    a(href=`admin/actor/delete-actor/${actor._id}`, class="delete").btn.btn-sm.btn-danger Xóa
              //  Thêm các dòng phim khác tại đây 
      //- Thanh phân trang
      +pagination(data)
block scripts
  script(type="module", src="/js/shared/pagination.js") 
  script(type="module", src="/js/admin/script.js") 

