extends ../layouts/index.pug
//- include thanh phân trang
include ../mixins/pagination.pug 
//- block styles 
//-   link(rel='stylesheet', href='/assets/css/admin/permission.css')
include ../partials/sidebar
include ../partials/header

block content 
  .container.mt-5
    .card.shadow.p-4
      h2.mb-4(style="margin-top: 15px;")= data.title||"Danh Sách Phim"
      .table-responsive
        table.table.table-bordered.table-hover.text-center.align-middle
          thead.table-light
            tr
              th Poster
              th Tên Phim
              th Thể Loại
              th Trạng Thái
              th Thao Tác
          tbody
            if data.movies && data.movies.length > 0
              for movie in data.movies
                tr
                  td
                    img.img-thumbnail(src=movie.poster||"", style="width: 80px;", alt="Poster")
                  td= movie.title || ""
                  td= movie.genre.category_name || ""
                  td
                    span.badge.bg-success= movie.status || ""
                  td
                    a(href=`update-movie/${movie._id}`, style="margin-right: 5px;").btn.btn-sm.btn-primary Sửa
                    button.btn.btn-sm.btn-danger Xóa
              //  Thêm các dòng phim khác tại đây 
      //- Thanh phân trang
      +pagination(data)
block scripts
  script(type="module", src="/js/shared/pagination.js") 

