extends ../layouts/index.pug
block styles 
  link(rel="stylesheet", href="/assets/css/client/style.css")
//-Nhúng header 
block header
  include ../partials/header.pug
block content

  .carousel
    .carousel-list
      .carousel-image
        img(src="https://res.cloudinary.com/dry3sdlc1/image/upload/v1749508402/thunderbolt_xlfklp.jpg")
    .carousel-button-prev
      button#prev
        i.fa-solid.fa-chevron-left
    .carousel-button-next
      button#next
        i.fa-solid.fa-chevron-right
    ul.carousel-dots
      li.active
      li
      li
      li
      li
  .quick-ticket
    .container
      .row
        .col-3
          .quick-ticket-content
            .quick-ticket-number 1
            select#select-movie(name)
              option(value, disabled, selected) Chọn phim
              if(data.movies && data.movies.length >= 0)
                for movie in data.movies
                  option(value=movie.id) #{movie.title}
        .col-2
          .quick-ticket-content
            .quick-ticket-number 2
            select#select-cinema(name)
              option(value, disabled, selected) Chọn rạp
                option(value="") Bingebox Cinema Thái Bình 
        .col-2
          .quick-ticket-content
            .quick-ticket-number 3
            select#select-date(name)
              option(value, disabled, selected) Chọn ngày
        .col-3
          .quick-ticket-content
            .quick-ticket-number 4
            select#select-showtime(name)
              option(value, disabled, selected) Chọn suất chiếu
        .col-2.buying
          p MUA VÉ NHANH
  .section-1
    .container
      .row
        //  cột phim  
        .col-xl-10
          //-phim đang chiếu 
          .inner-content
            .list.inner-list
            h2.inner-title Phim đang chiếu
          .row#film-list
            // Mỗi hàng chứa 4 phim
            if data.nowPlayingMovies && data.nowPlayingMovies.length >= 0
              for movie in data.nowPlayingMovies

                .col-xl-3.col-lg-4.col-md-4.col-sm-6.xs-6
                  .inner-film
                    .film-detail
                      a(href="#").
                        
                        
                      .film-poster
                        a(href="#")
                          img(src=movie.poster)
                        .inner-icon(data-trailer=movie.trailer||"")
                          a(href="#").
                            
                            
                          a(href="")
                            i.fa-regular.fa-circle-play
                        .inner-button
                          button
                            a(href="#")
                              i.fa-solid.fa-ticket
                              | MUA VÉ NGAY

                      ul
                        li
                          p.infor.age-permission #{movie.age_permission}
                        li
                          p.infor.subtitle Phụ đề
                        li
                          p.infor.film-format 2D IMAX
                      a(href="#")
                        h2.film-name= movie.title
                      h3.film-category Thể loại: #{movie.genre.category_name}
          //-phim sắp chiếu 
          .inner-content
            .list.inner-list
            h2.inner-title Phim sắp chiếu
          .row#film-comingsoon-list
            //-Mỗi hàng chứa 4 phim
            if data.comingSoonMovies && data.comingSoonMovies.length >= 0
              for movie in data.comingSoonMovies
                .col-xl-3
                  .inner-film
                    .film-detail
                      a(href="#").
                        
                        
                      .film-poster
                        a(href="#")
                          img(src=movie.poster)
                        .inner-icon(data-trailer=movie.trailer||"")
                          a(href="#").
                            
                            
                          a(href="")
                            i.fa-regular.fa-circle-play
                      ul
                        li
                          p.infor.age-permission #{movie.age_permission}
                        li
                          p.infor.subtitle Phụ đề
                        li
                          p.infor.film-format 2D IMAX
                      a(href="#")
                        h2.film-name #{movie.title}
                      h3.film-category Thể loại: #{movie.genre.category_name}
  #overlay
  #close
    i.fa-solid.fa-circle-xmark
  .inner-iframe#inner-iframe
    iframe(width="860", height="515", src="", allowfullscreen)
  .section-6
    .container
      .inner-wrap
        .inner-title Tin tức
        .news
          .new-item-big
            .new-image-big
              img(src="assets/images/actors/anthonymackie.webp", alt)
            .new-title Hôm nay điện ảnh có gì mới?
          .new-item-small
            .new-item
              .new-image-small
                img(src="assets/images/actors/anthonymackie.webp", alt)
                .new-title Hôm nay điện ảnh có gì mới?
        a.inner-button(href="new.html")
          .button-new Xem thêm
  .section-4
    .container
      .row
        .col-12
          .box-head
            h2.inner-title ĐÁNH GIÁ TỪ CHUYÊN GIA
            p.inner-desc Binge Box Cinema luôn là rạp phim uy tín chất lượng hàng đầu Việt Nam. Được công nhận và đánh giá từ các chuyên gia, nhà phê bình và diễn viên hàng đầu trong và ngoài nước.
        .col-xl-3.col-md-4.col-sm-6.col-6
          .inner-box
            .inner-main
              .inner-content Tôi không thể tin Việt Nam lại sở hữu một rạp phim với chất lượng quốc tế đến vậy.
            .inner-info
              img(src="assets/images/nolan.jpg")
              h3.inner-name.
                
                Christopher Nolan
                
              p.inner-position Đạo diễn
        .col-xl-3.col-md-4.col-sm-6.col-6
          .inner-box
            .inner-main
              .inner-content Âm thanh sống động, hình ảnh mãn nhãn thị giác, tôi thật mãn nguyện khi được thấy bản thân mình đang chuyển động trước màn hình. Cảm ơn BingeBox Cinema đã cho tôi một trải nghiệm tuyệt vời
            .inner-info
              img(src="assets/images/leonardo.webp")
              h3.inner-name.
                
                Leonardo DiCaprio
                
              p.inner-position Diễn viên Hollywood
        .col-xl-3.col-md-4.col-sm-6.col-6
          .inner-box
            .inner-main
              .inner-content Phim tôi đạo diễn phải cho chiếu ở rạp BingeBox đầu tiên
            .inner-info
              img(src="assets/images/tranthanh.webp")
              h3.inner-name.
                
                Trấn Thành
                
              p.inner-position Nhà sản xuất
        .col-xl-3.col-md-4.col-sm-6.col-6
          .inner-box
            .inner-main
              .inner-content Ngay khi đặt chân đến Việt Nam, điều đầu tiên tôi phải làm ngay không phải là đá bóng với Quang Hải mà phải vào rạp BingeBox ngay để thưởng thức màn chiêu đãi thị giác có một không hai.
            .inner-info
              img(src="assets/images/ronaldo.jpg")
              h3.inner-name.
                
                Cristiano Ronaldo
                
              p.inner-position Cầu thủ bóng đá
  blocks scripts
    script(type="module", src="/js/client/home.js") 
block footer 
  include ../partials/footer.pug


